
body{
	margin: 0;
	padding: 0;
}

 .navicon{
	 color: white;
 }

 .sidenav {
	height: 100%;
	width: 230px;
	position: fixed;

	background-image: linear-gradient(rgb(14, 185, 241),skyblue);
	overflow-x: hidden;
	padding-top: 70px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 16px;
	color: rgb(255, 255, 255);
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
  }

  .sidenav a{
	  border-bottom: 1px solid #fff;
  }

  .active {
	background-color:rgb(69, 69, 255);
	color: white;
  }

  .dropdown-container {
	display: none;
	background-color:rgb(31, 27, 27);
	padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
	float: right;
	padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }

  .main {
	margin-left: 250px; /* Same as the width of the sidenav */
	margin-top: 54px;
	
  }

  .usersection{
	  width: 100%;
	  height: 400px;
	  -webkit-box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
       box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
  }

  .userimage img{
	  width: 500px;
	  height: 300px;
  }

  .usersection h1 {
	text-align: center;
	text-transform: uppercase;
	color: #4CAF50;
  }
  
  .employee{
	width: 100%;
	height: 600px;
	-webkit-box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
	 box-shadow: 4px 2px 21px 0px rgba(0,0,0,0.75);
  }

 .employee h1 { 
	text-align: center; 
	color: #ff4411;
	 font-size: 48px; 
	 font-family: 'Signika', sans-serif;
	  padding-bottom: 10px; 
	}


	.tab-content > .active {

		background-color: unset;
		color: black;
	
	}