body {
	background-color: #05efef;
	max-width: 100%;
}

.brand-name{
	height: 40px;
	width: 40px;
}
.navba-nav ul li a{
   
	text-decoration: none;
	
}

.body-nature{
	height: 330px;
	background-image: linear-gradient(to bottom, #05efef 75%, #b2d618 25%);
	position: relative;
	max-width: 100%;
}
.moutnain{
	background-size: cover;
	max-width: 100%;
	position: absolute;
	bottom: 60px;
	opacity: 0.6;
}

.grass1 {
    position: absolute;
    bottom: 50px;
    left: 190px;
    max-width: 8%;
}

.tree1 {
    position: absolute;
    bottom: 35px;
    left: 40px;
    max-height: 60%;
}

.tree2 {
    position: absolute;
    bottom: 80px;
    left: 240px;
    max-height: 25%;
    opacity: 0.8;
}
.tree3 {
	position: absolute;
	bottom: 35px;
	left: 20px;
	max-height: 60%;
}
.sun{
	position: absolute;
	left: 60px;
	top: -50px;
	max-height: 30%;
}

.children {
    position: absolute;
    right: -70px;
    bottom: 25px;
    max-height: 30%;
    opacity: 0.9;
}
.cloud{
	position: absolute;
	top: -35px;
	left: 65px;
	max-width: 28%;
	opacity: 0.8;
}
.cloud1{
	position: absolute;
	top: -35px;
	left: 65px;
	max-width: 28%;
	opacity: 0.8;
}
.cloud2{
	position: absolute;
	top: -25px;
	left: 240px;
	max-width: 18%;
	opacity: 0.8;
}

.board {
    position: absolute;
    bottom: 20px;
    left: 100px;
    max-height: 40%;
}

.grass1{
	position: absolute;
	bottom: 50px;
	left: 65px;
	max-width: 8%;
}
.grass2{
	position: absolute;
	bottom: 50px;
	right: 10px;
	max-width: 8%;
}

.nature-section-1{
	position: relative;
}
.nature-section-2{
	background-image: url();
	height: auto;
	width: 100%;

}
.nature-section-3{
	background-image: url();
	height: auto;
	width: 100%;
	position: relative;


}

.menu_icon{
	height: 120px;
	width: 120px;
	transition: 1.5s;
}

.menu_icon:hover{
	transform: rotate(360deg);
}

.menu-row{
	background-color: #faff1d;
	height: 150px;
	max-width: 100%;
}


.login{
	cursor: pointer;
	border: none;
	border-radius: 20px;
	height: 40px;
	width: 160px;
	font-family: verdana;
	font-size: 16px;
	color: white;
	text-align: center;
	margin: 0;
	outline: none;
}
.login-parents{
	background-color: blue;
}
.login-kids{
	background-color: orange;
}


.login-parents:hover{
	background-color: red;
}

.login-kids:hover{
	background-color: red;
}


@media screen and (max-width: 992px) {

	body {
		background-color: #05efef;
	}

	.body-nature{
		height: 300px;
		background-color: orange;
	}
	.menu_icon{
		height: 80px;
		width:80px;
	}
	.menu-icon:hover{
		height: 85px;
		width:85px;
	}
	.menu-row{
		height: 100px;
	}

	.login{
		border-radius: 4px;
		height: 30px;
		width: 70px;
		font-family: verdana;
		font-size: 11px;
		background-color: #FF6600;
	}

	.grass1{
		max-width: 0%;
	}
	.grass2{
		max-width: 0%;
	}

.board {
    position: absolute;
    bottom: 20px;
    left: 490px;
    max-height: 60%;
}
	.tree1 {
    position: absolute;
    bottom: -110px;
    left: 50px;
    max-height: 110%;
}
	.tree2 {
		max-height: 0%;
	}
	.tree3 {
		position: absolute;
		bottom: 35px;
		left: 50px;
		max-height: 60%;
	}
	.sun{
		position: absolute;
		left: 60px;
		top: -50px;
		max-height: 80%;
	}
	.cloud{
		max-width: 20%;
	}
	.cloud1{
		max-width: 0%;	
	}
	.cloud2{
		max-width: 0%;
	}

	.sun{
		max-width: 70%;
	}
	.children {
    position: absolute;
    right: 500px;
    bottom: -110px;
    max-height: 40%;
    opacity: 1.0;
}
}

@media screen and (max-width: 767px) {
	.board {
    position: absolute;
    bottom: -100px;
    left: 200px;
    max-height: 120%;
}
	.tree1 {
    position: absolute;
    bottom: -175px;
    left: 30px;
    max-height: 200%;
}
.children {
    max-height: 0%;
}
	.tree3 {
    position: absolute;
    bottom: 23px;
    left: 400px;
    max-height: 170%;
}
}

@media screen and (max-width: 576px) {
	.children{
		max-width: 0%;
	}
	.tree3{
		max-width: 0;
	}
	
	.menu_icon{
		height: 60px;
		width:60px;
	}
	.menu-icon:hover{
		height: 65px;
		width:65px;
	}
	.board {
    position: absolute;
    bottom: -100px;
    left: 180px;
    max-height: 100%;
}

}

.bangla-okkhor-sikhi-demo-section{
	width: 100%;
	height: auto;
	background-color: #FF6600;
	padding-top: 50px;
	padding-bottom: 50px;
}

.english-okkhor-sikhi-demo-section{
	width: 100%;
	height: auto;
	background-color: #b2d618;
	padding-top: 50px;
	padding-bottom: 50px;
}

.gunte-sikhi-demo-section{
	width: 100%;
	height: auto;
	background-color: #9da006;
	padding-top: 50px;
	padding-bottom: 50px;
}
.bangla-okhor-sikhi-section-header{
	font-family: Script MT Bold;

	text-align: center;
    font-size: 31px;
	
	padding-bottom: 50px;
	color: white;
}

.english-okhor-sikhi-section-header{
	font-family: Script MT Bold;

	text-align: center;

	font-size: 31px;
	padding-bottom: 50px;
	color: white;
}

.number-okhor-sikhi-section-header{
	font-family: Script MT Bold;

	text-align: center;

	font-size: 31px;
	padding-bottom: 50px;
	color: white;
}

.face1 .content .row img{
	width: 200px;
	height: auto;
	border-radius: 7px;
}


.cards{
	height: 250px;
	background-color: rgb(11, 139, 182);
	transition: .5s;
}

.cards:hover{
	transform: scale(1.1);
}

.face{
	transition: .2s;
}

.face:hover{
	transform: scale(1.04);
}


.b-re-more-button{
	padding: 7px 32px;
	border: 2px solid white;
	font-family: Script MT Bold;
	font-size: 25px;
	color: white;
	margin-top: 50px;
	border-radius: 7px;
	

}

.b-re-more-button:link{
	text-decoration: none;
	color: white;
}