/*games page css*/

.letter-show-section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu_div {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to right, #00A8FF, #00CCFF);
    position: relative;
}

.menu_icon {
    height: 60px;
    width: 150px;
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    transform: scale(0.6);
}

.menu_icon:hover {
    transform: scale(.8);
}

.cards {
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
   padding-bottom: 20px;
}

.face {
    transition: .5s;
}

.face1 {
    overflow: hidden;
    border: #999;
    z-index: 1;
}

.face1 .content {
    transition: .5s;
}

.face1 .content img {
    border-radius: 10px;
}

.face1 .content img:hover {
    box-sizing: border-box;
    box-shadow: 2px 5px rgb(1, 67, 94);
    transform: scale(1.3);
    transition-delay: .2s;
    transition-duration: 5s;
}

.face1 .content a {
    text-decoration-line: none;
    display: block;
    border-radius: 5px;
    text-decoration-color: rgb(166, 253, 89);
}

.face1 .content a:hover {
    box-shadow: 2px 2px rgb(32, 32, 32);
    background-color: rgb(61, 18, 18);
    transform: scale(1.05);
    transition-delay: .1s;
}

.face2 {
    background-color: rgb(86, 245, 86);
}

.face2 .content {
    background-color: rgb(86, 245, 86);
    transform: translateY(-110px);
}

.face2 .content p {
    background-color: rgb(86, 245, 86);
}

.face2:hover {
    transform: translatey(100px);
    text-decoration-color: rgb(118, 247, 6);
    background-color: #555;
    transition: 0.8s;
    transition-delay: 2s;
}

.letter-show-header-number{
    font-family: Script MT Bold;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
font-size: 30px;
}