.paint-canvas {
    border: 1px black solid;
    background-color: white;
    display: block;
    margin: 1rem;
}

.js-color-picker {
    margin: 1rem 1rem 0 1rem;
}

canvas {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.colorbtn {
    height: 100px;
    width: 100px;
}