.banner_div{
	width: 100%;
	height: 300px;
	position: relative;
}

.wood_banner_top{
	height: 100px;
	width: 20%;
	position: absolute;
	left: 480px;
	top: -5px;
}

.story_text{
	height: 55px;
	width: 17%;
	position: absolute;
	left: 495px;
	top: 38px;
}

.wood_banner {
	height: 275px;
	width: 70%;
	position: absolute;
	left: 300px;
	top: 10px;
}

.menu_sign{
	cursor: pointer;
	transition: all 50ms ease-in-out;
	transform: scale(1);
}

.home_sign{
	height: 140px;
	width: 12%;
	position: absolute;
	left: 355px;
	bottom: -10px;
}

.stories_sign{
	height: 115px;
	width: 10%;
	position: absolute;
	left: 499px;
	bottom: 9px;
}

.games_sign{
	height: 102px;
	width: 11%;
	position: absolute;
	left: 642px;
	bottom: 4px;
}

.videos_sign{
	height: 126px;
	width: 12%;
	position: absolute;
	left: 778px;
	bottom: -7px;
}
.videos_div{
	width: 100%;
}

.videos_box{
	border: 8px solid orange;
}

.upcoming_item{
	height: 120px;
	width: 60%;
	position: absolute;
	left: 250px;
}

.sponsor{
	width: 100px;
	height: 100px;
}

.footer_item{
	font-weight: bold;
	position: absolute;
	left: 0px;
	color: white;
}

.menu_sign:hover{
	transform: scale(1.2);
}