.logo{
	width: 150px;
	height: 70px;
}
 .branad_name{
 	height: 80px;
 	width: 100%;
 	background-image: linear-gradient(to right, #00CCFF, #00A8FF);
 }

 .branad_name img{
 	max-width: 30%;
 }

 .menu_div{
 	height: 100px;
 	width: 100%;
 	background-image: linear-gradient(to right, #00A8FF, #00CCFF );
 	position: relative;
 }
 .menu_icon{
 	height: 90px;
 	width: 220px;
 	position: absolute;
 	top: 0;
 	cursor: pointer;
 	transition: all 350ms ease-in-out;
 	transform: scale(0.6);
 }

 .menu_icon:hover{
 	transform: scale(1);

 }

 .board_div{
 	height: 400px;
 	width: 100%;
 	background-color: orange;
 	position: relative;
 }
 .board_div img{
 	height: 280px;
 	width: 380px;
 	cursor: pointer;
 	position: absolute;
 	top: 20px;
 	left: 20px;
 }

 .brand_name-text {
    font-family: Script MT Bold;
    text-align: center;
    margin-top: 20px;
    color: white;
}


.logo {
    width: 150px;
    height: 70px;
}

.branad_name {
    height: 80px;
    width: 100%;
    background-image: linear-gradient(to right, #00CCFF, #00A8FF);
}

.brand_name-image1 {
    margin-top: 20px;
    margin-left: 50px;
    opacity: 0.8;
    max-width: 30%;
}

.brand_name-text {
    font-family: Script MT Bold;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.brand_name-image2 {
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0.8;
    max-width: 30%;
}

.brand_name-image3 {
    margin-top: 5px;
    margin-left: 50px;
    opacity: 0.8;
    max-width: 30%;
}

.menu_div {
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, #00A8FF, #00CCFF);
    position: relative;
}

.menu_icon {
    height: 90px;
    width: 220px;
    position: absolute;
    top: 0;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    transform: scale(0.6);
}

.menu_icon:hover {
    transform: scale(.8);
}

.board_div {
    height: 400px;
    width: 100%;
    background-color: orange;
    position: relative;
}


/*
.board_div img {
    height: 280px;
    width: 380px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}*/

.childpage-image1 {
    height: 300px;
    position: absolute;
    top: 10px;
}

.childpage-image2 {
    width: 450px;
    position: absolute;
    left: -10px;
}

.childpage-image3 {
    height: 230px;
    width: 360px;
    position: absolute;
    top: 70px;
    left: 50px;
}

.main-manu-section{
	width: 100%;
	height: auto;

	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #faff1d;;
}

.img-main-menu{
	width: 120px;
	height: 120px;
	transition: all 350ms ease-in-out;
}

.img-main-menu:hover{
	transform: scale(1.2);
}



