.story_div{
	height: 200px;
	width: 100%;
	position: relative;
	background-color: #ddd3d3;
}
.story_cover{
	position: absolute;
	height: 100%;
	width: 60%;
	margin-left: 50px;
	border: 8px solid #754c01;
}
.story_title{
	font-size: 50px;
	font-weight: bold;
	color: red;
	text-align: center;
}

.story_para{
	font-size: 2rem;
	color: black;
	text-align: center;
}

.story_moral{
	font-size: 28px;
	font-weight: bold;
	color: green;
	text-align: center;
	border: 2px solid green;
}