	.navbar {
	    background-color: #81EC22;
	    color: white;
	    padding: 0;
	    margin: 0;
	}
	
	.logo {
	    width: 100px;
	    height: 70px;
	}
	
	.nav-text {
	    color: white;
	    font-weight: bold;
	    font-size: 18px;
	    letter-spacing: 2px;
	}
	
	nav {
	    width: 100%;
	    margin: 0 auto;
	    background: #fff;
	    padding: 50px 0;
	}
	
	nav ul {
	    list-style: none;
	    text-align: center;
	}
	
	nav ul li {
	    display: inline-block;
	}
	
	nav ul li a {
	    display: block;
	    padding: 15px;
	    text-decoration: none;
	    color: #aaa;
	    font-weight: 800;
	    text-transform: uppercase;
	    margin: 0 10px;
	}
	
	nav ul li a,
	nav ul li a:after,
	nav ul li a:before {
	    transition: all 0.5s;
	}
	
	nav ul li a:hover {
	    color: #555;
	}
	
	nav ul li a {
	    position: relative;
	    z-index: 1;
	}
	
	nav ul li a:hover {
	    color: red;
	}
	
	nav ul li a:after {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    margin: auto;
	    width: 100%;
	    height: 1px;
	    content: '.';
	    color: transparent;
	    background: red;
	    visibility: none;
	    opacity: 0;
	    z-index: -1;
	}
	
	nav ul li a:hover:after {
	    opacity: 1;
	    visibility: visible;
	    height: 100%;
	}

	.download-drag-drop-section{
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: #81EC22;
		width: 100%;
	}