#image {
    padding: 10px;
    height: 300px;
}

#okkhor {
    text-decoration: none;
    transform: scale(2);
}

#okkhor:hover {
    transition-delay: 5ms;
    transform: scale(1);
}

.image1 {
    background-color: green;
}

.image2 {
    background-color: red;
}

.image3 {
    background-color: yellow;
}

.image4 {
    background-color: magenta;
}

.image5 {
    background-color: blue
}

.image6 {
    background-color: purple;
}

.image7 {
    background-color: pink;
}

.image8 {
    background-color: orange;
}


/*likhteshikhi image*/

.image9 {
    background-color: brown;
}

.image10 {
    background-color: silver;
}

.image11 {
    background-color: orangered;
}

.image12 {
    background-color: indigo;
}