<template>
   <div>
     <li class="list-group-item" :class="className"><slot></slot></li>
    <small class="badge float-right" :class="badgeclass"> you</small>
   </div>
</template>

<script>
  export default {
   
  props:[

      'color'

  ],

  computed:{
      className(){
          return 'list-group-item-'+this.color;
      },

      badgeclass(){

          return 'badge-'+this.color;

      },
  },


  };
</script>
