	.navbar{
		background-color: #81EC22;
		color: white;
		padding: 0;
		margin: 0;

	}
	.logo{
		width: 50px;
		height: auto;
	}
	.nav-text{
		color: white;
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 2px;
	}
	


	nav ul {
		list-style: none;
		text-align: center;
	}
	nav ul li {
		display: inline-block;
	}
	nav ul li a {
		display: block;
		padding: 15px;
		text-decoration: none;
		color: #aaa;
		font-weight: 800;
		text-transform: uppercase;
		margin: 0 10px;
	}
	nav ul li a,
	nav ul li a:after,
	nav ul li a:before {
		transition: all 0.5s;
	}
	nav ul li a:hover {
		color: #555;
	}


	nav ul li a {
		position:relative;
		z-index: 1;
	}
	nav ul li a:hover {
		color: red;
	}
	nav ul li a:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 1px;
		content: '.';
		color: transparent;
		background: red;
		visibility: none;
		opacity: 0;
		z-index: -1;
	}
	nav ul li a:hover:after {
		opacity: 1;
		visibility: visible;
		height: 100%;
	}

	.header{
		width:100%;
		height: 60px;
		background-color: rgb(143, 250, 245);
	}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}
p {
	text-indent: 50px;
	text-align: justify;
	letter-spacing: 3px;
  }

  h1 {
	text-align: center;
	text-transform: uppercase;
	color: #4CAF50;
  }

.body-image-parentpage{
	width: 100%;
    height: calc(100vh - 280px);
    background-image: url("../img/parentshome.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	top: 50%;
	left: 50%;
}

.caption-parent-homeimage{
  position: absolute;
  top: 20%;
  right: 0%;
  
  background-color: skyblue;
  opacity: 0.5;
  width: 600px;
  height: 200px;
}

.caption-parent-homeimage b{
	color: rgb(1, 68, 24);
	padding: 35px;
}

.meet-the-team{
	background-color:  rgb(3, 112, 31);
	padding: 20px;
	width: 350px;
	color: #FFF;
	font-family: sans-serif;
	font-weight: bold;
	margin-left: 35px;
	opacity: unset;
	border: 2px solid red;
	margin-top: 10px;
	border-radius: 5px;

}

.meet-the-team:hover{
	background-color: red;
}

.header-parent{
	margin-top: 20px;
	text-align: center;
}

.header-parent h2{
	color: #555;
	font-family: sans-serif;
	
	font-weight: bold
}

.iteam-chart-parents{
	
	border: 1px solid #E05050;
	margin-top: 20px;
	padding-bottom: 20px;

}

.image{
	padding: 10px;
}

.chart-body{

	text-align: left;
	padding: 20px;
	font-family: sans-serif;
	font-size: 16px;

}

.chart-footer{
	padding: 10px;
}

.give-feedback{
	padding: 20px;
	
}

.give-feedback i{
	float: right;
	position: absolute;
	bottom: 0;
	right: 30px;
	padding: 20px;
}
.read-more{
	border: 1px solid #E04241;
	padding: 15px;
	width: 200px;
	border-radius: 15px;
}

footer{
	margin-top: 50px;
	width:100%;
	height: auto;
	background-color: rgba(0, 38, 75, 0.2);
	padding: 35px;
}

.submit{
	width: 100%;
	background-color: #275077;
	color: #FFF;
	padding: 8px;
	border-radius: 7px;

}

.form-control-customize{
	height: 51px!important;
	border-radius: unset!important;
	

}

.form-group label{
	
	font-size: 14px;

}

.form-control-color{
	color: #FFF;
}

.contact-section{
	padding-right: 30px;
	border-right: 1px solid white;
	margin-top: 40px;
	background-color: #00264B;
	padding: 30px;
}

.font-awsome-customize{
   
   font-size: 17px;

}

.flex-custom{
	display: flex;
	flex-direction: row;
	padding: 12px 24px;
	background-color: #FFF;
	margin-right: 30px;
	border-radius: 10px;
	cursor: pointer;

}

.social-media-section{
	display: flex;
	justify-content: center!important;
	margin-top: 20px;
}

.mapouter
{
	position:relative;
	text-align:right;
	height:320px;
	width:100%;
}
.gmap_canvas 
{
	overflow:hidden;
	background:none!important;
	height:100%;
	width:100%;
}
.map-section{
	margin-top: 20px;
}

.last-footer{
	width: 100%;
	background-color: #81EC22;
	color: #FFF;
	text-align: center;
	padding: 10px;
}

.home-slider-blog-parent{
	width: 100%;
	height: calc(100vh - 120px);
	background-image: url("../img/home-slider-bg.png");
	background-size: cover;
	object-fit: cover;
	background-repeat: no-repeat;

}

.left-side-blog-parent{
	position: absolute;
	top: 20%;
	left: 0%;
	width: 40%;
	height: 50%;
}

.right-side-blog-parent{

	position: absolute;
	top: 30%;
	right: 0%;
	width: 40%;
	height: 50%;

}

.center-side-blog-parent{
	position: absolute;
	top: 25%;
	left: 30%;
	width: 30%;
	height: 30%;
}

.post-blog-section{
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}

.blog-sec-header{
	font-size: 32px;
	font-weight: bold;
	color: #275077;
	margin-bottom: 50px;
}

.blog-sec-body{
	font-size: 22px;
	color: #275077;
	text-align: justify;
}

.blog-post-body-img-section{
	width: 100%;
	
	margin-top: 100px;
	
}

.related-blog-post-section{
	width: 100%;
	height: auto;
	background-color: rgba(143, 157, 172, 0.2);
	padding-top: 50px;
	padding-bottom: 50px;
}

.rel-blog-post-header{
	
	margin-bottom: 50px;
	font-size: 32px;
	font-weight: bold;
	color: #275077;
	text-align: center;
}

.meet-team-nav{
	width: 100%;
	height: auto;
	background-color: #275077;
	display: flex;
	flex-direction: row;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(166,154,166,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(166,154,166,1);
box-shadow: 0px 4px 5px 0px rgba(166,154,166,1);
}

.aunkur-logo{
	display: flex;

}

.aunkur-logo img{
	width: 150px;
	height: 150px;
	padding: 30px;

}

.meet-team-text{
	display: flex;
	color: #fff;
	font-family: 'Helvetica';
	font-size: 42px;
	text-align: center;
	justify-content: end;
	padding-right: 30px;

    align-items: center;
	width: 100%;
}

.member-card {
	padding-left: 3px;
	padding-right: 3px;

	margin-top: 100px;
	
	-webkit-box-shadow: 0px 4px 5px 3px rgba(166,154,166,1);

	-moz-box-shadow: 0px 4px 5px 3px rgba(166,154,166,1);

	box-shadow: 0px 4px 5px 3px rgba(166,154,166,1);
}


.member-image img{
	height: 150px;

	width: 150px;
	position: relative;
	
	top: -24px!important;
	
	left: 47px!important;
	border-radius: 50%;
}


.team-card-header {

    margin-top: 80px;

}

.social-media-link{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
}

.facebook,.linkin,.gmail{
	padding-right: 25px;
}

.member-name{
	font-size: 19px;
	font-family: 'Helvetica';
	font-weight: bold;
	color: #00264B;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
}


.member-designation{
	font-size: 17px;
	font-family: 'Helvetica';
	color: #275077;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
}

.work-done{
	font-size: 15px;
	font-family: sans-serif;
	color: #2980B9;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 15px;
}


.active {

  background-color: unset!important;
  color: white;
}

.meet-team-footer{
	display: flex;
	width: 100%;
	height: auto;
	background-color: #00264B;
	color: #FFF;
	align-items: center;
	justify-content: center;
	padding: 10px;
	font-family: 'Helvetica';
	font-size: 13px;
	margin-top: 50px;
}


.child-slider-image-height-fixed{
	height: 65vh;
	object-fit: cover;
	width: auto;
	object-position: center;
}

.slider-layer{
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
   background-color:rgba(0, 38, 58, .74);
}

.animation-type-section{
	position: relative;
	
	
}

.bangla-okhor{
	width: 100%;
	height: 330px;

	background-image: url('../img/tile1-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: -120px;
	z-index: 99;
	
	transition: all .2s ease-in-out;

}

.bangla-okhor:hover{
	transform: scale(1.05);
}

.english-okhor{
	width: 100%;
	height: 330px;

	background-image: url('../img/tile2-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: -120px;
	z-index: 99;
	
	
	transition: all .2s ease-in-out;

}

.english-okhor:hover{
	transform: scale(1.05);
}

.number-okhor{
	width: 100%;
	height: 330px;

	background-image: url('../img/tile3-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: -120px;
	z-index: 99;
	
	transition: all .2s ease-in-out;

	
}

.number-okhor:hover{
	transform: scale(1.05);
}

.carousel-caption{
	top: 10%;
	
	
}

.carousel-caption .captoion-header{
	font-size: 41px;
	font-family: 'Helvetica';
	color: white;
	font-weight: bolder;
	text-align: left;
}

.carousel-caption .caption-body{
	font-size: 29px;
	font-family: 'Helvetica';
	color: white;
	text-align: left;
	
}

.carousel-control-next {

    
    width: 100px!important;
    height: 100px!important;
    border-radius: 50%!important;
    background-color: red;
    top: 25%!important;
    right: 5%!important;

}

.carousel-control-prev {

    
    width: 100px!important;
    height: 100px!important;
    border-radius: 50%!important;
    background-color: red;
    top: 25%!important;
    left: 5%!important;

}

.center{
	position: absolute;
	left: 50%;
	top: 37%;
	transform: translate(-50%, -50%);
}


.bangla-okhor-body, .english-okhor-body, .number-okhor-body{
	font-size: 16px;
	color: #FFF;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.go-page{
	position: absolute;
	left: 50%;
	top: 52%;
	transform: translate(-50%, -50%);
	
}
.go{
	padding: 12px 12px;
	border: 3px solid white;
	padding-top: 10px;
	color: #FFF;
	transition: all .2s ease-in-out;
	
}

.go-page a:link{
	text-decoration: none;
	color: #FFF;
	font-weight: bold;


}

.go-page-bottom{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
	font-family: 'Helvetica';
	
}
.okhor-sikhi-footer{
	width: 100%;
	display: flex;
	background-color: #e0680e;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-bottom: 200px;
}

.join-us-button{
	padding: 10px 13px;
	background-color: rgb(18, 204, 168);
	color: #FFF;
	font-family: 'Helvetica';
	font-size: 19px;
	border-radius: 18px;
	position: relative;
	top: -10px;
	transition: all .2s ease-in-out;
	box-shadow: 0 .2rem 0 #108c99;

}

.join-us-button:link{
	text-decoration: none;
	
}

.join-us-button:hover{
	color: #FFF;
	transform: scale(1.06);
}


.okhor-sikhi-copyright{

	font-size: 19px;
	font-family: 'Helvetica';
	color: rgb(143, 64, 5);
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.template-type-section{
	margin-top: 20px;
}

.cards {
    height: 350px;
    overflow: hidden;
    box-sizing: border-box;
}

.cards:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px #555;
}

.face {
    background-color: rgb(11, 139, 182);
    transition: .5s;
}

.face1 {
    overflow: hidden;
    border: #999;
    z-index: 1;
}

.face1 .content {
    transition: .5s;
}

.face1 .content img {
    border-radius: 10px;
}

.face1 .content img:hover {
    box-sizing: border-box;
    box-shadow: 2px 5px rgb(1, 67, 94);
    transform: scale(1.01);
    transition-delay: .1s;
}

.face1 .content a {
    text-decoration-line: none;
    display: block;
    border-radius: 5px;
    text-decoration-color: rgb(166, 253, 89);
}

.face1 .content a:hover {
    box-shadow: 2px 2px rgb(32, 32, 32);
    background-color: rgb(61, 18, 18);
    transform: scale(1.05);
    transition-delay: .1s;
}

.face2 {
    background-color: rgb(86, 245, 86);
}

.face2 .content {
    background-color: rgb(86, 245, 86);
    transform: translateY(-110px);
}

.face2 .content p {
    background-color: rgb(86, 245, 86);
}

.face2:hover {
    transform: translatey(100px);
    text-decoration-color: rgb(118, 247, 6);
    background-color: #555;
    transition: 0.8s;
    transition-delay: 2s;
}

.rounded-lg img{
	width: 200px;
	height: 200px;
}
